.formulario1 {

   border-radius: 10px;
   box-shadow: 0px 0px 10px 0px rgb(5, 207, 243) ;
    position: center;
   
}

body {
    background-image: url("../assets/img/cicty.jpg");
  
    background-size: 100% auto;
}



.imgs{
    background-image: url("../assets/img/solvologo2.jpg");
    background-repeat: no-repeat;
    background-size: 70% 100%;
}

.verde{

    color: rgb(113, 180, 83);
}



.btn-verde{

    background-color: rgb(113, 180, 83);
    border-bottom-right-radius:30px ;
    border-top-left-radius: 30px;
    box-shadow: 5px 0px 0px 0px rgb(97, 105, 96);
  
}


.btn-gris{

    background-color: rgb(89, 89, 91);
    border-bottom-right-radius:30px ;
    border-top-left-radius: 30px;
    box-shadow: 5px 0px 0px 0px rgb(113, 180, 83)
  
}



.btn-verde:hover{

    background-color:rgb(99, 250, 73) ;
    
}

.titulos{
    font-family: energym;
}